@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

/* styles */

html,
body {
    font-family: 'News Cycle', sans-serif;
    color: black;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    color: red;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .overlay{
    background-color:grey;
    border-radius: 5px;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
  }
  .all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .text-secondary{
  color: white;
  }