@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');

/* styles */

html,
body {
    font-family: 'News Cycle', sans-serif;
    color: red;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    color: red;
} 