{% extends "base.html" %}

<!-- style block -->
{% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> {% endblock %}

<!-- title -->
{% block title %} HOME {% endblock %}

<!-- content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4 class="lead text-center">SOURCES</h4>
            <ul>
                <!-- loop through items -->
                {% for item in news_sources%}
                <a href="/articles/{{item.id}}" class="btn btn-outline-secondary btn-block">{{item.name}}</a> {% endfor
                %}
            </ul>
        </div>
        <div class="offset-1 col-md-8 ">
            <div class="card">
                <img src="{{article.url_to_image}}" class="card-img-top" alt="top-article">
                <div class="card-text">
                    <a href="{{article.url}}" class="text-dark">{{ article.description }}</a>
                    <br>
                </div>

            </div>
        </div>


        {% endblock %}